<% layout('layouts/boilerplate') %>
    <ol class="col-6 offset-3 list-group list-group-numbered">
        <li class="list-group-item list-group-item-action list-group-item-warning">Implement private nodes by user. ie
            public nodes availablity too</li>
        <li class="list-group-item list-group-item-action list-group-item-info">Sort by creation date (can get from
            _id)</li>
        <li class="list-group-item list-group-item-action list-group-item-warning"></li>
    </ol>